<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTFNRGN4TWpFME16UXoKTVZvWERUTTFN
	RGN4TURFME16UXpNVm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUkyVDFidFRoc2FheGViQysxbFQ0eVYxdFJZZlVHUlVEN2ZJR01ienJi
	RERRbjVTYWRvdm5aNGYvZEk4CmVIN1dZUEUvVXdzMVdFd1NWZFN2UkYzNENUMG50Zkc3
	TGhaZ0dha1NoQ05FL3BROFQwL0pFeE9xMVloY2dvblYKcFlmUzgyeUV5WWlpTEs3bDNE
	ZkVvSGVXYUMrd1loRjNYM3dlT3EyWGNYYTg1U2FlejdGc0V1ck1LRGxGbW5MRQp4em5R
	YTlwVXJacTNGQ3BGVmdhSzFZRDVPTEVGMThVVVRMQ1A0VFdPNGE4bDB6aHEzVWUySW0r
	V2F6am03MVRICkZxNEc5VlI2ckw1OFJvVFlaRWJza29rK25kT3NwQ1ZQRXB3Zk90azhq
	ZFh2dFdSOTQ5S0J2b0t0b3g4Q0RPYk4Kc1pGTzc2V0puQUUxTEo4dXcvMS9TdU9ESW5r
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVXdyYzZm
	Kzc4ODNsWjhReG9xZFVsSHhtYW9rQXdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUURET242VUJFSldyWmcrdDhSVUhCc24yR3RyOFFYcklP
	cVdUejliTHFLZkNmbmwKUXNFUFp4U0d0OVd5eEtGdVlYN3B1SmsvZ3ZINTJSMHJZMFpm
	UThZd0JMMGE5aXNJcWZFZUtVY3pTRjlZWVFaSQpxNm9VdEtwOS9HYUJORXlPYWVDT3hw
	SEM4cVVWSUNzdFZZdWV3ZHZFS0JDM3IzaC9NU3dVMVJVdmJ5MWtzdnltClgrMjl4cDBO
	MHhhMXBDYUtaQnhlb2d1TnN5RDNOb25mSCs5OE8yU3dQRGJ5cGlESHRma1B0ajA5T3Vw
	cFFkSjkKbHJ4RlNXcmhJdkx5V1VXNEl5bUhuelBhcE10VlRhZ0wyR2NGcE12NkpodEU4
	dUdna2hhL1pOZ0R5YmMvSHZueAp3SStxdC9iZ1RzNXBuYUtPYnk2YkZ1eUxOOFIra0Ja
	MUZCeGZacmtVCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0=
	</data>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2UUlCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktjd2dnU2pBZ0VBQW9JQkFRRGRiN01OKzVYRkFzbDcKdC9Vek8xMEJm
	V1ZzaitpSTNFTkduZzJPcmZ3MUhETGRkSkNtdHQvK3ZLN0VJVDFSVU9QbzRTY0hkNjdx
	enVuSgp1ck5LYXVHaUltT1h3U3VoQ2d2eEJsdzQ1VHh2dmNjU2ZxeXp4d1VlSmU4em9t
	MTJnSm1RVFhvTW5IRFZsMm5ICkxHdWhZdFVPaFJuZzlNbHNMQ1h6Qkx1amtZUnNkK2do
	STdkVkIwU1JyREVIVDM3TkxtbG5zUWRWRzZEOHJFcHIKUG1QcW40QVNMR0RzNkdhanBK
	YVdvV3VmeC9IM1hBMEhMN1VuamZ1ZlVhUDNlNHV6U09hQmMvL2t3QnRQTkFIOQpLTzNO
	N0RaWXJIREpzVWZ0clVJZ09aY0IyeitnTXpqbWRYY2RLNitvSGsyVC9EYWdleFN6bE9Z
	MjlUQWp2Y04xCisrUUR1eGtEQWdNQkFBRUNnZ0VBVmtWWGNFSXRacFVnWkhnV0tzQ2RD
	cUNOTEUrZzIvbGNxSjJaVUpaT1pXNjQKRG5tRWhiOUg0NW9sU0xwZWhsaktnb2Q5eWpZ
	Qnl1K1VQQWptSXo4aTZ5VVV3aUg3V29Gc2g1bmZ3amJsWmU5OQpLS0o3cklzRVhtdVBG
	d0hZUGN2NmlETDNNd1NjSFVzaFpmelRiZ3Z3VC9qaFRUaHhaUmlLTEhVU21iWnU3a2JM
	CkdSa2t4Q3NNdFMrdmhVQ2Jic1RDMlFtOE8xYzA5RldXWlh1Y1ZKbnBqdEYrK2RVaDVl
	d2VuWjRlckkwbkQ3WTgKQ2Y3MEVjQ3p2eTZSQU1Tdndlc1g4ZEpxeHBxQkUrSWRQNGFm
	L0FRQ0hvQ0tlbTFHbGtacDArNmxNSHpONDdQUgo4QjZzTitCVGNJVnRxK0x0a3laaWNJ
	SlhrUWJzUkJzS04ydVAvc3R3QVFLQmdRRCtMamJJSmJmL0RQUUttWUVZCkNsWFhRMVF2
	aTNpM1M4UW1JakJDazkzMm5hOHlzaEJneDVORThyaFdpRGVQeURtQk1zY2JhRWhUdWdp
	YVBWWGIKaDdoS1JMVEZaWmRtTzBLUW1CRWxMYjNZRzhBNGZsZUV5NVN2eWZMalpYbUU3
	NldhMkx1VHRmanVzem9kM3dicAoxc0VWRkZ1dkxpajcvVHVaZ2srd2duTlJBd0tCZ1FE
	ZkJYdE83Qmg0S0pxMHUyTlZsNms0aFAxZXoyMVpoMENiCklDMmF2cGhvWHdNaUd0YklS
	eVhSTWwydlJOTDk0Z3BMbEVwMkJzL0Z0d0JFQkM4Z3F5WjVVUllyaVpBOTBtamkKWFRr
	OGM5TTZiZDA5cXpHbHFSbHNQbTNWTW90NWlMakxRelhDVk1FcHpYTU84QjMyTmV1TlpP
	SUx6Q29CbTV5agowNEs5RDdxWUFRS0JnUURkZnp3eDBkeXpINENTdEEzdyt5Q3V3M2Ri
	THpqMDBjdU9SNEN5bzlSckVpSVlGVjk4ClZxNFpDVUpsOWJJbFU1LzQzRnp4bjBCWDVl
	ZVZNUm5lZ2ppd1Q0c1A4V1dycXJ4bzhIc1FZUG5zbHRJODZLd3YKaHBCOVY0aVhiRmdt
	NWdiMEZ5WHVwRWJYQzh2N045ejRiVEk0d2xMYkoyaURucnNQSEtXQTlVeTBMUUtCZ0Y3
	MwprNWw0MmJhWSs3L0lKN1Z6M21BdDZVSnRLNUE3RXR5N3FBL0Q1MXhTVVNBOXM0WVhI
	ZGhtRFJTc1J2aExQNzBOClNXUFc1TFM1aDRodkM2NXFrdmlIK2R2U09UVEtHMVdCQXZW
	bUVPVkprVE5JYWR5MEZCcE92ekJRMUttTStidTgKUS9FYmJDR2oxY0hmcDdLSEpXWFJO
	cHgxZE5HNGRNd2lMZ0xaNXNnQkFvR0FIc3VFZGFLMkdrUXNvL1FwRDZsWQpsVVRFaXJt
	dEtRTTJBWmNvUmZkem9ndU5sako2ZDFmemQwejQ1L2h3Y2VzUEhGM1dQR1A5MTNiaTFG
	Vjc3ZGNzCmlvc1JFaVk5LzlMMExrRUF6OERPM1ZHcThWN3BqUWRzZ0tJeXZicWJZT09G
	ZHZ6N0pUTnBLVmltQmVPaU1MZkEKd3YzZXNKNkwrM3JiNlNHVHpQTWRITVE9Ci0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTFNRGN4TWpFME16UXoKTVZvWERUTTFN
	RGN4TURFME16UXpNVm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU4xdnN3MzdsY1VDeVh1MzlUTTdYUUY5Wld5UDZJamNRMGFlRFk2dC9E
	VWNNdDEwa0thMjMvNjhyc1FoClBWRlE0K2poSndkM3J1ck82Y202czBwcTRhSWlZNWZC
	SzZFS0MvRUdYRGpsUEcrOXh4SityTFBIQlI0bDd6T2kKYlhhQW1aQk5lZ3ljY05XWGFj
	Y3NhNkZpMVE2RkdlRDB5V3dzSmZNRXU2T1JoR3gzNkNFanQxVUhSSkdzTVFkUApmczB1
	YVdleEIxVWJvUHlzU21zK1krcWZnQklzWU96b1pxT2tscGFoYTUvSDhmZGNEUWN2dFNl
	Tis1OVJvL2Q3Cmk3Tkk1b0Z6LytUQUcwODBBZjBvN2Mzc05saXNjTW14UisydFFpQTVs
	d0hiUDZBek9PWjFkeDBycjZnZVRaUDgKTnFCN0ZMT1U1amIxTUNPOXczWDc1QU83R1FN
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVXFWWmI2
	eDVKbSt1T21NeTl5WkhRcjNYY1ZuMHdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUUJ4dm00MWloVUdGbXJId2tXb1NMQkgvMElJb3R1RTFI
	K1ZzalBmNG1CMXJkdGIKeUt4Q2RhRGhLdkxxTmNJd1NraGdLUzRxL0tJSGNyQVc5Y2lJ
	TFVxM2owcU51dkJUaVZpcW5VMDNxVDF0TUppZwpXYmZwbWh4bjJzQzc0dVNPQ0ZXNWxC
	WDF0MEpublNoeW4reHB1OU1GbGlnNGNVcG5GblgzTStiYWVMVjFFWUhnCjk0MHFZMTNs
	ck1PUXZyQkJ5T1ovd2pRYnlVZWZSUU05Zm4xWjBBNDU3T0RuNnA4eGk4RlcwT2FmRFhW
	S1BjdnoKcXloME44STljNThSNUprdGVmQkVFZ3hhcWhYSytmTlFOTW1sQXZnaktBRUtK
	Y3ZiMU05aUhoTXUvaEpLejhubQpvdzBubERVNVdNTGJKV2FLdnBpUTVoUXFqUEJsZlpV
	cGxIRVZ2RG1nCi0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0=
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRRGhYbXFRWVJqc0NnMWIKZVVxd3BaQkti
	TFBGVEpmandTODhxUHlGOVNiNkFwSUtTYjZaVHdOQzBieWpVR1RUQkZiTHpad0ZWcWJP
	Y044cwp1Uk5oUFVpYzRwUjF2dGlpNUtWdEV6OXN0U2dDZTB6UVc4OXRZcjdIR3Vhek56
	c1pJa1o2OFd2ckY0blpjdmlaCmZaLzFwdUhoWktLREpsV3MwWWp6S3ZjMmh4NEZnZ0M3
	dUxBNWR3WlZpNXEySmtwT0pvd0dWYVNpYklqY2g1M1kKdDJUOHNGR2VVeFFRSHRjMjV4
	ZG9uUWNtYVh3dnJIOWNFZlhKdTEvTm16OUhkTmc5VVpJYytzYjZnY1pkNzQ1Two0S3B6
	WTRMa1E2SUs0T2pRR3ltbGpNSWtDMlZiZlpEWlNxSk9sSkEwSmllUzBuRnJVTmNoRGor
	UXFTZ3QwSnNlCis3M2ZJUWlwQWdNQkFBRUNnZ0VCQUxKQUZqTUp5VWR3RCs2SXVhMkwx
	ZHMzck54aFgwVlJsOFgzdG50UlVqbXQKN01wY1YzYzBpbFRBUk40N0NQUHAyNmlvZ0Qy
	c3NwUlhxL3pZaVY2QXRUejQ3UWxRSUZKK1crVXdzeHFORWc4YwpiTDNqeitVcGs5RXhF
	c1V1NnZ4UElzVzh5Mm1QSFlXeXJMUGlLN0dGQStWY3pqakRDa0o5SEQrUWZTVlFxMHNZ
	CmN0dlJ6WDZleFJkS1N2anZwN2JKc0tvRitOWjZlNHE0clZNZzA3VWRkNHZuaXlvYy9E
	dGNIV1FveklKaHEwcDUKRzRDM2FCVXN3VGVOb29meWZxQS9rYmxoVVZGM3BTTnJDWEd1
	OVE4eGJKWFlGRjhNOEV2a3U3a2hNWjBIM0JjUwozOVZKbENQTTNuSkRCbXN2Yk9URUF5
	Si94c2NoSXdHNUNZcXJHTXpKaVRFQ2dZRUE5bTd5RVdVdzkzQmFKdld3CmNmUVEvRVJt
	USs2MHpERkhzcjBiYWpSbEQ3UnByWVQ2R0JjYW9LM0RRaVdxb0tLVHplUGtic2E5UnVU
	bXBjWWwKQm1Ob25xNXJVRENPZjhFRS91RnhvaGxlbmhzNGxsU1M2SHB6UzBPV0pnNU1K
	dHFPTDVqWFJoT2JDU0w3bWJtaApxQXNVTnpGSUVzc0NBSkdRUnBGTVdKbzM2NjBDZ1lF
	QTZoNGhqUlVLQW1aamtIZ3dROHdQQS9aNFoydmpFY2hHCkRCSHNkUk55TDdVcEZ4N0tw
	dmpYRXMySEwzaTNleEp2alJZb3NYOHlyRnZXbWp6MW14RWpscnRaRE9YeXY5UkwKSnls
	NWZUMitEYXE5bXVrVlY1OXpTdXdWNy96OG5Namd4RCtIclJtNkhpaFRuYzN3M1RCeDdK
	a29wdlBGZWx3YQpCMnZxYjUzT2NHMENnWUVBcU9YUFNMYlhBYS9pU2ZOMzlCSDRGajMy
	N1RaTWVlcUlubXRYdjhtYlBsRkRZS2JVCkZmQzMwa3BsbWc5Z3kybkI3WW4weFN1M0RF
	RFVCK2d1OWhycDJGL29zdlFrcGxDdlVOVkk0WFdMME1jTldKTXMKZ09OejQ3QzExdTFU
	cWdsL0RBWXYvUnB3MXFsQVVkTFZoZXZaOWgzenJOV3dVSjF6aWJvSjNtd01TWjBDZ1lB
	RgpoQUEyV3JDSnJlL2FqM3BUbnBNYi9NcUpaVGxNU2ZPY2hTK1U4b2hXSjJaNGJQbEpS
	Y09MWmR3eGVoNllmNjZ4CkhEeUpNZjMzb1pKRXYvcnBWRllLVHcraUJpalo3QjU1SmJq
	L0FsMWY1UTNpZ0d0SVRURmlLbjI1MGJRQjNabXUKQmZFa1d0N1BweE9SUEREWWhUT3A1
	MUhWM1JoaDhabUxZemQ2dWJVTFlRS0JnQ0JMY1NRQisrZTlEbi9aTkd5TQpwUlVnTWdX
	UVdhV2Y5d1p4TUVaNWlYaURHQ2JMdWN6UWd1QWNCcEdUc210WlRTZmRUNXRySERKaldh
	V2NHQmVwCnVrYUViMFUzM3AyYWpMLzdPRkVMK3UzcW1qVlFhekxrSnRXRmp2YWduZGt0
	Ry9Gck1MRzI5VTArYmhiaFJyUWsKSzMyWm5iMWsyd2pNSkRieTdZZDdmSlNjCi0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNyVENDQVpXZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTFNRGN4TWpFME16UXoKTVZvWERUTTFN
	RGN4TURFME16UXpNVm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU9GZWFwQmhHT3dLRFZ0NVNyQ2xrRXBzczhWTWwrUEJMenlvL0lYMUp2
	b0NrZ3BKdnBsUEEwTFJ2S05RClpOTUVWc3ZObkFWV3BzNXczeXk1RTJFOVNKemlsSFcr
	MktMa3BXMFRQMnkxS0FKN1ROQmJ6MjFpdnNjYTVyTTMKT3hraVJucnhhK3NYaWRseStK
	bDluL1dtNGVGa29vTW1WYXpSaVBNcTl6YUhIZ1dDQUx1NHNEbDNCbFdMbXJZbQpTazRt
	akFaVnBLSnNpTnlIbmRpM1pQeXdVWjVURkJBZTF6Ym5GMmlkQnlacGZDK3NmMXdSOWNt
	N1g4MmJQMGQwCjJEMVJraHo2eHZxQnhsM3ZqazdncW5Oamd1UkRvZ3JnNk5BYkthV013
	aVFMWlZ0OWtObEtvazZVa0RRbUo1TFMKY1d0UTF5RU9QNUNwS0MzUW14Nzd2ZDhoQ0tr
	Q0F3RUFBYU15TURBd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZApCZ05WSFE0RUZnUVVh
	SjVLS2Fub29md3pneTNtL3BFUm1JZHd6RFl3RFFZSktvWklodmNOQVFFRkJRQURnZ0VC
	CkFGQ01raHB4NHN3Y1VLZExnUmtOTlJpT0p1VkZXTjgrbTN6bXdxTExxcFg4eU5zK2Iv
	NmQ2ZW1kR3FxMSszc3AKUXNNL0YzdW5ySjZDdVdwRjMzN25LWEZRVGxSaWI4b0l5dzFD
	aUpFYWM4aUJoOTByc1JPY2tYOEpKeFNLb0gwRgo0K05jdUVaQWtaY3d0djMwTHRHY3l5
	OFFocXptNmlrUkdkbHNLbnpTSXQ5QzF5VjZjN1Y2OGxRQXpoWlNCWlNvCllrdys0VzNq
	M0R0QkdzZFN6bnk2MVpFN0RDVFdBRXd2MlRMeDBhWTBSdGNoZys3UzhBTzZLeGpDR2th
	eW1VRUUKbTNHSkhNVjBZdXBIbU9aWUdEOGJjKzRmTExkcmVoWUpISWJNYzV5OUNIQ3Fw
	TVAzeFhXRWxxVkhmR24wVVZWMgpyQlFoRzcvbjE4ZnZudkg0WWY5UmVXcz0KLS0tLS1F
	TkQgQ0VSVElGSUNBVEUtLS0tLQ==
	</data>
	<key>SystemBUID</key>
	<string>31191027-531621093306504352</string>
	<key>HostID</key>
	<string>31191866346258681981715036</string>
	<key>EscrowBag</key>
	<data>
	v4h82YDgOOITk81QFjAEt1V2jFibwXMZWOVMHWOVX9o=
	</data>
	<key>WiFiMACAddress</key>
	<string>50:b1:27:5c:0c:55</string>
	<key>UDID</key>
	<string>00008130-001845883C51001C</string>
</dict>
</plist>